@import url("https://fonts.googleapis.com/css2?family=Lato:wght@500&display=swap");
body {
  margin: 0;
  line-height: normal;
}
:root {
  /* fonts */
  --font-lato: Lato;

  /* Paddings */
  --padding-187xl: 206px;
  --padding-xl: 20px;
  --padding-84xl: 103px;
}